* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: #43affc;
}
.wrapper {
  width: 400px;
  border-radius: 7px;
  background: #fff;
}
.wrapper header {
  font-size: 21px;
  color: #43affc;
  font-weight: 500;
  padding: 16px 15px;
  border-bottom: 1px solid #bfbfbf;
}
